<style type="text/css">
	.abtimg{
		height: 33vh;
		border-radius: 2em;
	}
	#about p{
		font-size: 1.25vw;
	}
	@media(max-width: 768px){
		.abtimg {
			height: 33vh;
			width: auto;
		}
		#about p{
			font-size: 1.25em;
		}
	}
</style>

<!--  -->
<div id="about" class="row  py-lg-5 text-justify text-capitalize mx-0">
	<div class="col-lg-4 px-lg-5 p-2">
		<img class="w-100 abtimg" src="https://media.istockphoto.com/photos/white-paper-rolls-picture-id1286941495?b=1&k=20&m=1286941495&s=170667a&w=0&h=vzEDea7G-P01mwPx6tblve2Ciy-SOxAb6FzTluTGO7w=">
		<h3 class="text-center">ABOUT US</h3>
		<p>
			Crayon Papers is a rapidly growing concern of Paper Industries Group. The group is a technologically advanced and one among the leading manufacturers of pulp and fine paper, with responsibly managed, sustainable fiber plantations and operations in India. We also supply high grade quality of writing and printing papers in that segment. The manufacturing facilities with each of its product category enjoys the optimum level of operating efficiencies which results in the competitive edge of the cost structure. The group's business philosophy is that what we do, should be better for mankind and best for the nature then only we can be a good and a developed company.		
		</p>
		<a href="./page-about-us.html" class="btn btn-primary"> More About Us</a>
		
	</div>
	<div class="col-lg-4 px-lg-5 p-2">
		<img class="w-100 abtimg" src="https://www.woodtech.in/assets/images/vision.jpg">

		<h3 class="text-center">OUR VISION</h3>
		<p>
			Crayon Pulp and Paper vision is to deliver premium quality copy and office paper to consumers around the world that is produced from a sustainable source of high-fiber raw material, and a renewable energy source to the country from the waste of the pulping process. Central to that vision are the principles of sustainable development and a commitment to faithfully practice internationally recognized standards and spearhead environmental and social campaigns that are relevant to the development of our communities. 
		</p>
	</div>
	<div class="col-lg-4 px-lg-5 p-2">
		<!-- <img class="w-100 abtimg" src="./img/mission.webp"> -->
		<img class="w-100 abtimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJSgb4ZipwrNiF1pIuyq_dzdqQqS1mMWls2A&usqp=CAU">
		<h3 class="text-center">OUR MISSION</h3>
		<p>
			To exceed our customer's expectations with innovative and bespoke Quality Papers. with leading distributor network and State Level supply chain, our mission is to provide great quality papers to every home in the country. With this in mind we believe we can bring a change in people's lives, and indirectly contribute to bright future of our clients. We believe that long-term sustainability requires our unwavering attention to the three pillars of environmental, social and economic responsibility.	
		</p>
	</div>
</div>
<!--  -->