<style type="text/css">
	#contact-us{
		background: rgb(0,56,83);
		background: linear-gradient(24deg, rgba(0,56,83,1) 0%, rgba(0,143,143,1) 100%);
		color: #fff;
	}
	#contact-us p{
		font-size: 1.33em;
		color: #fff;
	}

</style>

<div id="contact-us" class="row mx-auto text-capitalize text-justify p-2 my-5">
	<contact class="text-capitalize mx-auto" style="user-select:text;">
		<h2 class=" text-center">CONTACT US</h2>
		<p>Become A Reseller or Buy For Office Use, Contact or visit us!</p>
		<p><u class="font-weight-bold font-italic">Address :</u> Bldg No. 253, 3rd Floor, Opp Govindam Sweets, Shahpur jat, New delhi-110049 </p>
		<p><u class="font-weight-bold font-italic">factory :</u> bhopa road, muzaffarnagar, uttar pradesh, 251001</p>
		<p><u class="font-weight-bold font-italic">Phone :</u>	+91 11 4125 3117, +91 99 0453 9555, +91 9881046309</p>
		<p><u class="font-weight-bold font-italic">Email :</u>	
			<a class="text-lowercase text-white" href="mailto:info@crayonpapers.in?subject=Hello, we are interested in your project">info@crayonpapers.in</a> |
			<a class="text-lowercase text-white" href="mailto:info@lipiexports.com?subject=Hello, we are interested in your project">info@lipiexports.com</a>
		</p>
		<p> Website :	<a class="text-lowercase text-white" href="http://crayonpapers.com" target="_blank">crayonpapers.com</a> </p>
	</contact>
</div>