
<style type="text/css">
	/*-------------Reset-------------*/


	@keyframes blink {  
		0% { opacity: 0.5; }
		50% { opacity: 1; }
		100% { opacity: 0.5; }
	}

	@-webkit-keyframes blink {
		0% { color: red; }
		100% { color: black; }
	}
	.blink {
		-webkit-animation: blink 1s linear infinite;
		-moz-animation: blink 1s linear infinite;
		animation: blink 1s linear infinite;
	} 

	/*-------------Helpers-------------*/
	.skew {
		transform: skew(-20deg);
	}
	.un-skew {
		transform: skew(20deg);
	}

	/*-------------Nav-------------*/
	#nav-wrapper {
		overflow: visible;
		width: 100%;
		margin: 0 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}

	#nav {
		background-color: #fffffff8;
		box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
		/*display: flex;*/
		/*flex-direction: column;*/
		overflow: hidden;
		/*justify-content: flex-end;*/
		height: 4em;
		overflow: hidden;
		border-radius: 100px;
		/*margin: 0 0.5em;*/
		width: 95%;
		margin:0 auto;
		
	}
	.nav-link {
		transform: skew(-20deg);
		color: #000;
		text-decoration: none;
		padding: 0 1em;
		transition: 0.2s;
		font-size: 1.2em;
	}

	#nav.nav-visible {
		height: 100%;
		overflow: auto;
	}


	.logo img{
		/*background-image: url('./img/logo.webp');*/
		background-repeat: no-repeat;
		background-size: cover;
		padding: 2px;
		margin: 0px;
		/*width: 150px;*/
		height: 4em;
		display: absolute;
	}

	.gradient {
		background: #f857a8;
		background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
		/*background: linear-gradient(45deg, rgba(255,104,104,1) 0%, rgba(255,0,108,1) 100%);*/
		background: linear-gradient(135deg, rgba(255,45,45,1) 0%, rgba(255,0,108,1) 100%);
	}

	.btn-nav {
		color: #f857a8;
		padding-left: 2em;
		padding-right: 2em;
	}

	.btn-nav {
		display: none;
	}
	
	#nav a:link.active, #nav a:visited.active{

		background: linear-gradient(135deg, rgba(255,45,45,1) 0%, rgba(255,0,108,1) 100%);
		color: #fff;
	}
	#nav .active{
		background: linear-gradient(135deg, rgba(255,45,45,1) 0%, rgba(255,0,108,1) 100%);
		color: #fff;
	}


/*	.nav-link:last-child {
		padding-right: 3em;
	}*/

	a:hover.nav-link:not(.active) {
		color: #fff;
		background: #000;
	}

	@keyframes logo-hover {
		20% {
			padding-right: 0em;
		}
		100% {
			padding-right: 5em;
		}
	}

	.progress-meter{
		position: static	;
		/*left: -2em;*/
		/*margin: 0;*/
		padding: 0.25em;
		width: 80%;
		height: 0.5px;
		z-index: 100;
		margin-top: -5em;
	}

	.submenu{
		display: flex;
		/*width: 20%;*/
	}

	.nav-link-span {
		flex-direction: row;
		align-content: center !important	;
		justify-content: center;
		height: 100%;
		align-self: center;
		vertical-align: bottom;
	}
	.nav-link .nav-link-span{
		transform: skew(20deg) !important;

	}
	.submenu .nav-link-span{
		/*vertical-align: middle;*/
		display: flex;
		align-items: center;
		height: 100%;
	}
	#actual-menu{

	}

	.right{
		float: right;
	}
	.left{
		float: left;
	}
	#ghost-cursor{
		right: -40px;
		width: 5em;
		display: block;
		transition: 0;
		position: relative;
		transition: 0.1s;
	}

	enquiry{
		font-size: 1.33em;
	}

</style>
<!-- -------------------------- -->

<div id="nav-wrapper" class="mx-0 pt-3">

	<nav id="nav">

		<div class="submenu left">
			<a class="logo " href="./">
				<img class="" src="./img/logo.webp" alt="Logo" >
			</a>
		</div>

		<div id="actual-menu" class="submenu text-uppercase right font-weight-bold h-100 " style="margin-right: -5px;">

			<a id="ghost-cursor" href="" class="nav-link active"> 
				<span class="nav-link-span">  
				</span> 
			</a> 			

			<a href="./" class="nav-link "> 
				<span class="nav-link-span"> 
					Home 
				</span> 
			</a>

			<a href="./page-product-notebooks.html" class="nav-link "> 
				<span class="nav-link-span"> 
					Notebooks & Reels
				</span> 
			</a> 
			<a href="./page-product-a4papers.html" class="nav-link "> 
				<span class="nav-link-span"> 
					A4 Papers 
				</span> 
			</a> 			
			<a href="./page-distributor-network.html" class="nav-link "> 
				<span class="nav-link-span"> 
					Distribution Network 
				</span> 
			</a> 
			<a href="./page-about-us.html" class="nav-link"> 
				<span class="nav-link-span"> 
					About 
				</span> 
			</a> 			
			<a href="./page-gallery.html" class="nav-link"> 
				<span class="nav-link-span"> 
					Gallery 
				</span> 
			</a> 
			<a href="./#contact-us" class="nav-link"> 
				<span class="nav-link-span"> 
					Contact 
				</span> 
			</a>

			<!-- <a class="progress-meter nav-link active gradient"></a> -->
		</div> 
	</nav>
</div>


<div class="pt-5 my-3  mx-0 bg-black text-white">

	<enquiry class="row col-lg-12 mt-lg-5 pt-lg-3 mt-5  text-center ">

		<div class="col-lg text-warning d-flex" >
				<span class=" material-icons f-3"> room </span>
				Bldg No. 253, 3rd Floor, Opp Govindam Sweets, Shahpur jat, New delhi-110049 
		</div>

		<div class="col-lg text-primary d-flex" >
			<p id="phones" class="row px-0  " >	
				<div class="d-flex">
					<span class=" material-icons f-3"> phone </span>
					+91 11-4125-3117
					+91 98810-46309
					<a class="text-success" href="https://wa.me/+919904539555?text=I'm%20interested%20in%20buying%20crayon papers, please tell more details.">
						<img src="./icons/whatsapp.png" style="max-width:1.25em;border-radius: 0.25em;margin-left: 1em;">
						+91 99045-39555
					</a>
				</div>
			</p>
		</div>

		<div id="cta-menu" class="col-lg d-flex f-3">
			<style type="text/css">
				#cta-menu > *{
					box-shadow: 0 0 2.25em #fff6;
					border-radius: 0.25em;
					z-index: 999;
				}
				.enquire-now {
					/*vertical-align: baseline;*/
					display: inline-block;
					vertical-align: middle;
				}
			</style>
			<a class="enquire-now mx-lg-2 d-flex align-content-center btn btn-danger  blink" onclick="alert('CALL +91 11412-53117, +91 99045-39555, +91 98810-46309')">
				<span class="material-icons ">
				touch_app
				</span>
				Enquire Now!
			</a>
			<a class="enquire-now mx-lg-2 d-flex align-content-center btn btn-primary  blink" href="https://www.indiamart.com/lipi-exports/" target="_blank">
				<span class="material-icons ">
				ads_click
				</span>
				IndiaMart
			</a>
		</div>

	</enquiry>
</div>


<!--  -->
<widget id="floating-whatsapp">
	<style type="text/css">
		#floating-whatsapp{
			position: fixed;
			z-index: 999;
			top: calc(100vh - 6em);
			left: calc(100vw - 6em);
		}
		@media(max-width: 768px){
			#floating-whatsapp{
				position: fixed;
				z-index: 999;
				top: calc(100vh - 5em);
				left: calc(100vw - 4em);
			}
		}
		#floating-whatsapp img{
			border-radius: 0.33em;
		}
	</style>
	<a class=" " href="https://wa.me/+919904539555?text=I'm%20interested%20in%20buying%20crayon papers, please tell more details.">
		<img src="./icons/whatsapp.png" style="max-width:3em">
		whatsapp	
	</a>
</widget>

<!-- -------------------------------------------------------- -->
<script type="text/javascript">
	$(document).ready(function() {
		var util = {
			mobileMenu() {
				$("#nav").toggleClass("nav-visible");
			},
			windowResize() {
				if ($(window).width() > 800) {
					$("#nav").removeClass("nav-visible");
				}
			},
			scrollEvent() {
				var scrollPosition = $(document).scrollTop();
				console.log('scroll triggered')
				$.each(util.scrollMenuIds, function(i) {
					var link = util.scrollMenuIds[i],
							container = $(link).attr("href"),
							containerOffset = $(container).offset().top,
							containerHeight = $(container).outerHeight(),
							containerBottom = containerOffset + containerHeight;

					if (scrollPosition < containerBottom - 20 && scrollPosition >= containerOffset - 20) {
						$(link).addClass("active");
					} else {
						$(link).removeClass("active");
					}
				});
			}
		};

		util.scrollMenuIds = $("a.nav-link[href]");
		$("#menu").click(util.mobileMenu);
		$(window).resize(util.windowResize);
		// $(document).scroll(util.scrollEvent);

		$(window).scroll(function(){
			var scrollFractionProgress = ($(window).scrollTop() / ($(document).height()-screen.height));
			if (scrollFractionProgress < 0.9){
				$('#ghost-cursor')
				.css('right',`-${Math.floor(scrollFractionProgress*$("#nav div").eq(1).width())+50}px`)
			}
			// console.log(scrollFractionProgress)

		});

		setInterval(()=>{
		},100)
		
	});
</script>

<!-- <nav HIDDEN class="navbar navbar-expand-lg navbar-light bg-light py-0 mx-0 font-weight-bold " >
	<div class="container-fluid mx-0 px-0">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="material-icons text-danger">menu</span>
		</button>
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav text-center col-lg-12 mb-2 mb-lg-0 ">
				<li class="nav-item col-lg-2 p-lg-0 ">
					<a class="nav-link  mr-2" href="./index.html">Home</a>
				</li>
				<li class="nav-item col-lg-2 p-lg-0">
					<a class="nav-link  mr-2" href="page-about-us.html">About Us</a>
				</li>
				<li class="nav-item col-lg-2 p-lg-0">
					<a class="nav-link  mr-2" href="./#contact-us">Contact Us</a>
				</li>
				
			</ul>
		</div>
	</div>
</nav> -->

<!-- -------------------- -->