<style type="text/css">
    .holidaysearchbox{
        font-family: "Teko";
        font-family: "Montserrat";

        /*margin-top: -30%;*/
        /*z-index: 10;*/
        min-width: 25em;
        backdrop-filter: blur(5px);
    }
    #holidayDestinationInput{
      caret-color: black;
    }

    .searchform{
        /*border-radius: 0.5em;*/
        z-index: -10;
        background-color: #000;
        /*box-shadow: -0.33em 0.33em 0.33em #fffa;*/
        color: #fff;

    }

    .booknowbutton{
        /*position: static;*/
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        /*border-bottom-right-radius: 0.25em;*/
        /*border-bottom-left-radius: 0.25em;*/
        font-size: 1em;
        margin-right: 0.75em;
        box-shadow: 0 0 0.5em #4f66;
        /*background-color: ;  */
        border: none;
        z-index: -10;
    }

    .booknowbutton  svg{
        color:  #fff;

    }

    .dicerandom{
        /*border: solid 0.5px #ccc;*/
        max-height: 2em;
        padding: 0 1em;
        transition: 0.2s;
        caret-color: #f0f0;
        cursor: wait;

    }
    .dicerandom:hover{
        border: solid 1px;
        color: #fff;
        background-color: #000;
    }
    .form-control{
        font-size: 1em;
    }

    .bookengine-head{
        font-family: "Oxanium";
        color: #fff;
        font-size: 2em;
        z-index: 100;
        position: relative;
        /*border-radius: 0.5em 0.5em 0 0;*/
        font-weight: 800 !important;
    }
    .formlabels{
        font-weight: bolder;
    }
</style>


<div class="holidaysearchbox  h-100 animate__animated animate__fadeInLeft">
    <div class="h-100">
        <div   class="text-center mx-auto bookengine-head p-3 bg-black ">
            <h2 class="blink_me font-weight-bold text-success display-4 ">Start Booking </h2>
        </div>
        <div class="searchform  h-100">
            <div class="row">
                <h3 class="formlabels col p-2 ps-2 text-center">Where are you going?</h3>
                <span class="row">
                    <input class="col  form-control btn-pill"  id="holidayDestinationInput" type="text" placeholder="Enter Destination">
                    <div class=" col-auto p-0 dicerandom mx-auto text-center">
                        <span class="material-icons"> casino </span>
                    </div>
                    
                </span>

                <h3 class="formlabels col p-2 ps-2 text-center">How many People?</h3>
                <span class="row">
                    <input class="col-6 form-control btn-pill"  id="holidayDestinationInput" type="text" placeholder="Start Typing to get suggestion">
                </span>
            </div>
        </div>
        
        <script type="text/javascript">
            Destination=["South Island, New Zealand", "Bora Bora", "Maui", "Tahiti", "London", "Rome", "Phuket", "Tokyo", "Glacier National Park", "Barcelona", "Maldives", "Banff", "New York City", "Bali", "Grand Canyon", "Sydney", "Dubai", "St. Lucia", "Yosemite", "Florence", "Santorini", "Great Barrier Reef", "Yellowstone", "Niagara Falls", "San Francisco", "Cancun", "Amalfi Coast", "Argentine Patagonia"]
            $('.dicerandom').click(function(event) {
                var randvalue = Destination[Math.floor(Math.random()*Destination.length)];
                $('#holidayDestinationInput').fadeOut(100, function() {
                    $('#holidayDestinationInput').fadeIn(100, function() {
                        
                    });
                });
                $('#holidayDestinationInput').val(randvalue)
            });
        </script>
    </div>
</div>

<script type="text/javascript">
    incrdecr = (inputTagSelector,plusSelector,minusSelector) =>{
        $(document).ready(function() {
          const minus = $(minusSelector);
          const plus = $(plusSelector);
          const input = $(inputTagSelector);
          minus.click(function(e) {
            e.preventDefault();
            var value = input.val();
            if (value > 1) {
              value--;
            }
            input.val(value);
          });
          
          plus.click(function(e) {
            e.preventDefault();
            var value = input.val();
            value++;
            input.val(value);
          })
        });
    }
</script>