@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css";


body *{
    caret-color: #f0f0;

}
.row{
    margin: 0;
}
.material-icons.md-1 { font-size: 18px; }
.material-icons.md-2 { font-size: 24px; }
.material-icons.md-3 { font-size: 36px; }
.material-icons.md-4 { font-size: 48px; }

.bg-purple{
    background: rgb(2,0,36);
    background: linear-gradient(38deg, rgba(2,0,36,1) 0%, rgba(149,0,255,1) 100%);
}
.bg-blue{
    background: rgb(8,0,150);
    background: linear-gradient(38deg, rgba(8,0,150,1) 0%, rgba(0,189,255,1) 100%);
}
.bg-red{
    background: rgb(121,0,51);
    background: linear-gradient(38deg, rgba(121,0,51,1) 0%, rgba(255,0,0,1) 100%);
}
.bg-yellow{
    background: rgb(200,164,6);
    background: linear-gradient(38deg, rgba(200,100,6,1) 0%, rgba(249,255,0,1) 100%);
}
.bg-green{
    background: rgb(7,94,0);
    background: linear-gradient(38deg, rgba(7,94,0,1) 0%, rgba(0,255,76,1) 100%);
}

.bg-black{
    background: #000;
}
.z-max{
    z-index: 999;
}
.menu-icon.logo{
    width: 100%;
    max-height: 100%;   
    text-align: left;
    /*position: absolute;*/
    animation-duration: 2s;
    animation-name: slidein;
    z-index: 100;
    background: #fffe;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
    /*margin-top: -1em;*/
    /*margin-left: -1em;*/
    /*padding: 0.25em auto;*/
    /*max-height: 100em;*/
    /*border-radius: 0 0 10.25em 0 ;*/

}


mymenu{
    /*background-color: #0000;*/
    background-color: #0000;
    overflow: visible;
}

.tagline{
    font-size: 2vw;
    font-family: 'Luxurious Script';
}

.menu-item{
    text-align: center;
    transition: 0.5s;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    left: 1em;
    display: inline-block;
    line-height: 25px;
}

.menu-icon{
    max-height: 5   em;
    max-height: 3em;
    /*box-shadow: 0 0 5em #000;*/
}

@media(max-width: 768px){
    .menu-icon{
        max-height: 3em;
    } 
}

.menu-item:hover{
    transform: scale(1.2);
}

.menu-label{
    font-size: 2.25em;
    font-family: 'Teko';
    /*font-weight: 600;*/
    padding-top: 100em;
    color: #fff;
    text-shadow: 0 0 0.75em #000;
    vertical-align: bottom;
}

/*__________________________________________________*/

/*__________________________________________________*/


.holidaysearchbox{
    opacity: 0.95;
    font-family: "Teko";
    font-family: "Montserrat";
    position: absolute;
    margin-top: -25%;
    margin-left: 1em;
    z-index: 10;
}
#holidayDestinationInput{
  caret-color: black;
}
.searchformholder{
    /*border-radius: 1em;*/
}
.searchform{
    box-shadow: 0 0 8em #fffa;
    border-radius: 0.5em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: -10;
}

.booknowbutton{
    position: static;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    /*border-bottom-right-radius: 0.25em;*/
    /*border-bottom-left-radius: 0.25em;*/
    font-size: 1em;
    margin-right: 0.75em;
    box-shadow: 0 0 0.5em #4f66;
    /*background-color: ;  */
    border: none;
    z-index: -10;
}

.booknowbutton  svg{
    color:  #fff;

}

.dicerandom{
    border: solid 0.5px #ccc;
    max-height: 2em;
    border-radius: 1em;
    padding: 0 1em;
    transition: 0.2s;
    caret-color: #f0f0;
    cursor: wait;

}
.dicerandom:hover{
    border: solid 1px;
    border-radius: 1em;
    color: #fff;
    background-color: #000;
}
.form-control{
    font-size: 1em;
}

/*__________________________________________________*/
.h2line{
    font-family: "Montserrat";
    color: #fff;
    font-size: 3em;
    z-index: 100;
    position: relative;
    border-radius: 0.25em 0.25em 0 0;
}

.blink_me {
    animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

/*__________________________________________________*/

.swiper{
    /*height: 75%;*/
    max-height: 66vh;
}

.swiper-slide{
    z-index: 1;
}

.swiper .imholder img{
    width: 100%;
    /*margin: -25% 0;*/
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: .2s all;
    -webkit-filter: brightness(66%);
}

.swiper-slide-active img{
    transform: scale(1.25);
    transition: 10s;
    transition-timing-function: linear;
}

.swiper-slide h2{
    font-size: 3.5em;
    font-family: "Montserrat";
    /*font-style: italic;*/
    text-transform: capitalize;
    font-weight: 200;

    text-shadow: 2px 2px 8px #000;
    text-align: center;
    max-width: 12em;

    color: #fff;
}

.swiper-slide .slide-title {
  float: left;
    position: absolute;
    margin-top: 25vh;
    margin-left: 60vw;
    z-index: 10;
    text-align: center;

}

.swiper-slide button{
  /*position: absolute;*/
  border: transparent;
  box-shadow: 0 0 3em #fff8;
  z-index: 10;
}
/*__________________________________________________*/

section{
    /*top: 55vh;*/
    z-index: 9999;
}







@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.4.1/swiper-bundle.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css";
@import "https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Teko&family=Roboto+Condensed&family=Oxanium&family=Material+Icons&family=Black+Ops+One&family=Montserrat&display=swap";
