<style type="text/css">
    .holidaysearchbox{
        font-family: "Teko";
        font-family: "Montserrat";

        /*margin-top: -30%;*/
        /*z-index: 10;*/
        min-width: 25em;
        backdrop-filter: blur(5px);
    }
    #holidayDestinationInput{
      caret-color: black;
    }

    .searchform{
        /*border-radius: 0.5em;*/
        z-index: -10;
        background-color: #000;
        /*box-shadow: -0.33em 0.33em 0.33em #fffa;*/
        color: #fff;

    }

    .booknowbutton{
        /*position: static;*/
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        /*border-bottom-right-radius: 0.25em;*/
        /*border-bottom-left-radius: 0.25em;*/
        font-size: 1em;
        margin-right: 0.75em;
        box-shadow: 0 0 0.5em #4f66;
        /*background-color: ;  */
        border: none;
        z-index: -10;
    }

    .booknowbutton  svg{
        color:  #fff;

    }

    .dicerandom{
        /*border: solid 0.5px #ccc;*/
        max-height: 2em;
        padding: 0 1em;
        transition: 0.2s;
        caret-color: #f0f0;
        cursor: wait;

    }
    .dicerandom:hover{
        border: solid 1px;
        color: #fff;
        background-color: #000;
    }
    .form-control{
        font-size: 1em;
    }

    .bookengine-head{
        font-family: "Oxanium";
        color: #fff;
        font-size: 2em;
        z-index: 100;
        position: relative;
        /*border-radius: 0.5em 0.5em 0 0;*/
        font-weight: 800 !important;
    }
    .formlabels{
        font-weight: bolder;
    }
    /*-----------*/
    [data-quantity] {
      position: relative;
      width: 100%;
      max-width: 11rem;
      padding: 0;
      margin: 0;
      border: 0;
    }

    [data-quantity] legend {
      display: none;
    }

    [data-quantity] input {
      font-size: 18px;
      height: 4rem;
      padding: 0 4rem;
      border-radius: 2rem;
      border: 0;
      background: #fff;
      color: #222;
      box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      font-weight: lighter;
    }

    [data-quantity] input:focus {
      outline: none;
      box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
    }

    [data-quantity] input[type=number]::-webkit-inner-spin-button,
    [data-quantity] input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    [data-quantity] input[type=number] {
      -moz-appearance: textfield;
    }

    [data-quantity] button {
      position: absolute;
      width: 2.8rem;
      height: 2.8rem;
      top: 0.6rem;
      display: block;
      padding: 0;
      margin: 0;
      border: 0;
      background: #fff
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" /></svg>')
        no-repeat 0 0;
      background-size: 5.6rem 2.8rem;
      overflow: hidden;
      white-space: nowrap;
      text-indent: 100%;
      border-radius: 1.4rem;
      cursor: pointer;
      transition: opacity 0.15s;
      opacity: 0.5;
    }

    [data-quantity] button:active {
      background-position-y: 1px;
      box-shadow: inset 0 2px 12px -4px #c5d1d9;
    }

    [data-quantity] button:focus {
      outline: none;
    }

    [data-quantity] button:hover {
      opacity: 1;
    }

    [data-quantity] button.sub {
      left: 0.6rem;
    }

    [data-quantity] button.add {
      right: 0.6rem;
      background-position-x: -2.8rem;
    }
</style>


<div class="holidaysearchbox  h-100 animate__animated animate__fadeInLeft">
    <div class="h-100">
        <div   class="text-center mx-auto bookengine-head p-3 bg-black ">
            <h2 class="blink_me font-weight-bold text-success ">Start Booking </h2>
        </div>
        <div class="searchform  h-100">
            <div class="row">
                <span class="formlabels col p-0 pt-3 ps-3">Where are you going?</span>
                <span class="row">
                    <input class="col  form-control "  id="holidayDestinationInput" type="text" placeholder="Enter Destination">
                    <div class=" col-auto p-0 dicerandom mx-auto ps-3">
                        <span class="material-icons"> casino </span>
                    </div>
                    
                </span>

                <span class="formlabels col p-0 pt-3 ps-3">How many People?</span>
                <span class="row">

                    <input type="number" name="points" step="1">

                    <!-- <input class="col-6 form-control "  id="holidayDestinationInput" type="text" placeholder="Start Typing to get suggestion"> -->
                </span>
            </div>
        </div>
        
        <script type="text/javascript">
            Destination=["South Island, New Zealand", "Bora Bora", "Maui", "Tahiti", "London", "Rome", "Phuket", "Tokyo", "Glacier National Park", "Barcelona", "Maldives", "Banff", "New York City", "Bali", "Grand Canyon", "Sydney", "Dubai", "St. Lucia", "Yosemite", "Florence", "Santorini", "Great Barrier Reef", "Yellowstone", "Niagara Falls", "San Francisco", "Cancun", "Amalfi Coast", "Argentine Patagonia"]
            var destinationIter= 0
            $('.dicerandom').hover(function(event) {
                var rdest = Destination[destinationIter++ % Destination.length];
                $('#holidayDestinationInput').fadeOut(50, function() {
                    $('#holidayDestinationInput').fadeIn(50, function() {
                    });
                });
                $('#holidayDestinationInput').val(rdest)
            },()=>{});
        </script>
    </div>
</div>

<script type="text/javascript">
    incrdecr = (inputTagSelector,plusSelector,minusSelector) =>{
        $(document).ready(function() {
          const minus = $(minusSelector);
          const plus = $(plusSelector);
          const input = $(inputTagSelector);
          minus.click(function(e) {
            e.preventDefault();
            var value = input.val();
            if (value > 1) {
              value--;
            }
            input.val(value);
          });
          
          plus.click(function(e) {
            e.preventDefault();
            var value = input.val();
            value++;
            input.val(value);
          })
        });
    }
</script>