<style type="text/css">
    .card-display{
        top: 200px;
    }

    .holidaycard{
        /*border: 1px solid #000;*/
        max-width: 18em;
        margin-right: 0.5em;
        margin-top: 0.5em;
        background: #fff;
        color: #000;
        box-shadow: 0 0 1em #ccc;
        text-align: center;
        border-radius: 1em;
        overflow: hidden;
        max-height: 20em;
    }

    .holidaycard img{

    }

    .holidaycard .vidholder{
        max-height: 60%;
        overflow: hidden;
        margin-top: -25%;
    }
    
</style>
<!-- ------------- -->
<section class="holder px-3">
    <h1 class="py-3 text-center">Holiday Pacakges</h1>
    <div class="card-display row  " >
        <div class="holidaycard  col-4 p-0">
            <div class="vidholder ">
                <iframe width=100% height="320"  src="https://www.youtube.com/embed/G1hKzCkywM8?rel=0&showinfo=0&autoplay=1&mute=1&controls=0&modestbranding=1&vq=medium&start=30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- <img class="card-img-top" src="./media/Banners/vacation1.jpg" alt="Card image cap"> -->
            <div class="card-body px-2">
                <h5 class="card-title">amazon adventures</h5>
                <p class="card-text">visit the most beautiful place on earth, book now on fastholidayz.com</p>
                <a href="#" class="btn btn-primary">Starting from Rs.4999</a>
            </div>
        </div>
        <div class="holidaycard  col-4 p-0">
            <div class="vidholder ">
                <iframe width=100% height="320"  src="https://www.youtube.com/embed/G1hKzCkywM8?rel=0&showinfo=0&autoplay=1&mute=1&controls=0&modestbranding=1&vq=medium&start=60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- <img class="card-img-top" src="./media/Banners/vacation2.jpg" alt="Card image cap"> -->
            <div class="card-body px-2">
                <h5 class="card-title">3 day clubhouse</h5>
                <p class="card-text">visit the most beautiful place on earth, book now on fastholidayz.com</p>
                <a href="#" class="btn btn-primary">Starting from Rs.2999</a>
            </div>
        </div>
        <div class="holidaycard  col-4 p-0">
            <div class="vidholder ">
                <iframe width=100% height="320"  src="https://www.youtube.com/embed/G1hKzCkywM8?rel=0&showinfo=0&autoplay=1&mute=1&controls=0&modestbranding=1&vq=medium&start=120" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- <img class="card-img-top" src="./media/Banners/vacation4.jpg" alt="Card image cap"> -->
            <div class="card-body px-2">
                <h5 class="card-title">amazon adventures</h5>
                <p class="card-text">visit the most beautiful place on earth, book now on fastholidayz.com</p>
                <a href="#" class="btn btn-primary">Starting from Rs.4499</a>
            </div>
        </div>
        <div class="holidaycard  col-4 p-0">
            <div class="vidholder ">
                <iframe width=100% height="320"  src="https://www.youtube.com/embed/G1hKzCkywM8?rel=0&showinfo=0&autoplay=1&mute=1&controls=0&modestbranding=1&vq=medium&start=150" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- <img class="card-img-top" src="./media/Banners/vacation5.jpg" alt="Card image cap"> -->
            <div class="card-body px-2">
                <h5 class="card-title">3 day clubhouse</h5>
                <p class="card-text">visit the most beautiful place on earth, book now on fastholidayz.com</p>
                <a href="#" class="btn btn-primary">Starting from Rs.8999</a>
            </div>
        </div>
        <div class="holidaycard  col-4 p-0">
            <div class="vidholder ">
                <iframe width=100% height="320"  src="https://www.youtube.com/embed/G1hKzCkywM8?rel=0&showinfo=0&autoplay=1&mute=1&controls=0&modestbranding=1&vq=medium&start=180" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- <img class="card-img-top" src="./media/Banners/vacation6.jpg" alt="Card image cap"> -->
            <div class="card-body px-2">
                <h5 class="card-title">2 nights beach lights</h5>
                <p class="card-text">visit the most beautiful place on earth, book now on fastholidayz.com</p>
                <a href="#" class="btn btn-primary">Starting from Rs.4999</a>
            </div>
        </div>
    </div>
</section>